In [13]:
import psycopg2

conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="wasd1234",
    host="localhost",
    port="5432" 
)

cursor = conn.cursor()

print("connected to the database")

connected to the database

In [14]:
from faker import Faker

fake = Faker()

print("faker initialized")

faker initialized

In [15]:
import random

def generate_passport_number():
    return ''.join([str(random.randint(0, 9)) for _ in range(20)])

In [16]:
from psycopg2 import Error

department_types = ["Pilots", "Dispatchers", "Techniques", "Cashiers", "Security", "Helpdesk", "Maintenance"]

try:
    for department in department_types:
        cursor.execute(
            """
            INSERT INTO "Department_types"(name)
            VALUES (%s)
            """,
            (department,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting department types: {e}")
    conn.rollback()

print("departments inserted")

Error inserting department types: duplicate key value violates unique constraint "Department_types_name_key"
DETAIL:  Key (name)=(Pilots) already exists.

departments inserted

In [17]:
from psycopg2 import Error

department_name = ["Main", "Secondary"]
department_types = ["Pilots", "Dispatchers", "Techniques", "Cashiers", "Security", "Helpdesk", "Maintenance"]

try:
    for department in department_name:
        for i in range(len(department_types)):
            name = department + " " + department_types[i]
            cursor.execute(
                """
                INSERT INTO "Departments"(name, department_type)
                VALUES (%s, %s)
                """,
                (name, i + 1)
            )
            conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting departments: {e}")
    conn.rollback()

print("departments inserted")

Error inserting departments: duplicate key value violates unique constraint "Departments_name_key"
DETAIL:  Key (name)=(Main Pilots) already exists.

departments inserted

In [18]:
from psycopg2 import Error

try:
    for i in range(100):
        cursor.execute(
            """
            INSERT INTO "Brigades"(department_id)
            VALUES (%s)
            """,
            (i % 14 + 1,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting brigades: {e}")
    conn.rollback()

print("brigades inserted")

brigades inserted

In [19]:
from psycopg2 import Error

positions = ["Pilot", "Dispatcher", "Technician", "Cashier", "Security", "Helpdesk", "Maintenance"]

try:
    for position in positions:
        cursor.execute(
            """
            INSERT INTO "Positions"(name)
            VALUES (%s)
            """,
            (position,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting positions: {e}")
    conn.rollback()
    
print("positions inserted")

Error inserting positions: duplicate key value violates unique constraint "Positions_name_key"
DETAIL:  Key (name)=(Pilot) already exists.

positions inserted

In [22]:
from psycopg2 import Error

try:
    for i in range(7):
        cursor.execute(
            """
            INSERT INTO "Department_positions"(department_id, position_id)
            VALUES (%s, %s)
            """,
            (i + 1, i + 1)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting department positions: {e}")
    conn.rollback()
    
print("department positions inserted")

department positions inserted

In [26]:
from psycopg2 import Error

ids = []

try:
    for department_type in range(1, 8): 
        cursor.execute(
            """
            SELECT b.id
            FROM "Brigades" b
            JOIN "Departments" d ON b.department_id = d.id
            WHERE d.department_type = %s
            """,
            (department_type,)
        )
        
        ids.append(cursor.fetchall())
except (Exception, Error) as e:
    print(f"Error fetching brigade IDs: {e}")
    conn.rollback()

for i in range(1, 8):
    print(ids[i - 1])

[(1,), (8,), (15,), (22,), (29,), (36,), (43,), (50,), (57,), (64,), (71,), (78,), (85,), (92,), (99,), (101,), (108,), (115,), (122,), (129,), (136,), (143,), (150,), (157,), (164,), (171,), (178,), (185,), (192,), (199,)]
[(2,), (9,), (16,), (23,), (30,), (37,), (44,), (51,), (58,), (65,), (72,), (79,), (86,), (93,), (100,), (102,), (109,), (116,), (123,), (130,), (137,), (144,), (151,), (158,), (165,), (172,), (179,), (186,), (193,), (200,)]
[(3,), (10,), (17,), (24,), (31,), (38,), (45,), (52,), (59,), (66,), (73,), (80,), (87,), (94,), (103,), (110,), (117,), (124,), (131,), (138,), (145,), (152,), (159,), (166,), (173,), (180,), (187,), (194,)]
[(4,), (11,), (18,), (25,), (32,), (39,), (46,), (53,), (60,), (67,), (74,), (81,), (88,), (95,), (104,), (111,), (118,), (125,), (132,), (139,), (146,), (153,), (160,), (167,), (174,), (181,), (188,), (195,)]
[(5,), (12,), (19,), (26,), (33,), (40,), (47,), (54,), (61,), (68,), (75,), (82,), (89,), (96,), (105,), (112,), (119,), (126,), (133,), (140,), (147,), (154,), (161,), (168,), (175,), (182,), (189,), (196,)]
[(6,), (13,), (20,), (27,), (34,), (41,), (48,), (55,), (62,), (69,), (76,), (83,), (90,), (97,), (106,), (113,), (120,), (127,), (134,), (141,), (148,), (155,), (162,), (169,), (176,), (183,), (190,), (197,)]
[(7,), (14,), (21,), (28,), (35,), (42,), (49,), (56,), (63,), (70,), (77,), (84,), (91,), (98,), (107,), (114,), (121,), (128,), (135,), (142,), (149,), (156,), (163,), (170,), (177,), (184,), (191,), (198,)]

In [ ]:
from psycopg2 import Error

for i in range(100):
    gender = fake.random_element(["man", "woman"])
    child_count = fake.random_int(min=0, max=7)
    position_id = fake.random_int(min=2, max=7)
    brigade_id = fake.random_element(ids[position_id - 1])
    salary = fake.random_int(min=50000, max=200000)
    birthday = fake.date_of_birth(minimum_age=18, maximum_age=65)
    director = fake.random_element([True, False])
    maturation_date = birthday.replace(year=birthday.year + 18)
    employment_date = fake.date_between(start_date=maturation_date)

    try:
        cursor.execute(
            """
            INSERT INTO "Employees"(last_name, first_name, gender, child_count, position_id, brigade_id, salary, birthday, director, employment)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """,
            (fake.last_name(), fake.first_name(), gender, child_count, position_id, brigade_id, salary, birthday, director, employment_date)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting employees: {e}")
        conn.rollback()
    
print("employees inserted")

In [ ]:
from psycopg2 import Error
from datetime import datetime, timedelta

for i in range(1):
    gender = fake.random_element(["man", "woman"])
    child_count = fake.random_int(min=0, max=7)
    position_id = 1
    brigade_id = fake.random_element(ids[0])
    salary = fake.random_int(min=50000, max=200000)
    birthday = fake.date_of_birth(minimum_age=18, maximum_age=65)
    director = fake.random_element([True, False])
    today = datetime.today()
    one_year_ago = today - timedelta(days=365)
    maturation_date = birthday.replace(year=birthday.year + 18)
    employment_date = fake.date_between(start_date=maturation_date)

    try:
        cursor.execute(
            """
            INSERT INTO "Employees"(last_name, first_name, gender, child_count, position_id, brigade_id, salary, birthday, director, employment)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """,
            (fake.last_name(), fake.first_name(), gender, child_count, position_id, brigade_id, salary, birthday, director, employment_date)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting employees: {e}")
        conn.rollback()
    
print("employees inserted")

employees inserted

In [6]:
from psycopg2 import Error

plane_status = ["Ready", "In repair", "refilling", "cleaning", "replenishing"]

try:
    for status in plane_status:
        cursor.execute(
            """
            INSERT INTO "Plane_status"(name)
            VALUES (%s)
            """,
            (status,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting plane status: {e}")
    conn.rollback()
    
print("plane status inserted")

plane status inserted

In [12]:
flight_types = ["Internal", "International", "Charter", "Cargo", "Special"]

try:
    for flight_type in flight_types:
        cursor.execute(
            """
            INSERT INTO "Flight_types"(name)
            VALUES (%s)
            """,
            (flight_type,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting flight types: {e}")
    conn.rollback()
    
print("flight types inserted")

flight types inserted

In [7]:
from psycopg2 import Error

flight_status = ["Delayed due to a malfunction", "Delayed due to weather", "Canceled", "No problem"]

try:
    for status in flight_status:
        cursor.execute(
            """
            INSERT INTO "Flight_status"(name)
            VALUES (%s)
            """,
            (status,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting flight status: {e}")
    conn.rollback()
    
print("flight status inserted")

flight status inserted

In [8]:
from psycopg2 import Error

ticket_status = ["Purchased", "Booked", "Refunded", "Distributed", "Canceled"]

try:
    for status in ticket_status:
        cursor.execute(
            """
            INSERT INTO "Ticket_status"(name)
            VALUES (%s)
            """,
            (status,)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting ticket status: {e}")
    conn.rollback()
    
print("ticket status inserted")

ticket status inserted

In [11]:
from psycopg2 import Error

try:
    for i in range(100):
        gender = fake.random_element(["man", "woman"])
        has_visa = fake.random_element([True, False])
        birthday = fake.date_of_birth(minimum_age=18, maximum_age=65)
        passport_num = generate_passport_number()

        cursor.execute(
            """
            INSERT INTO "Passengers"(last_name, first_name, gender, passport_number, has_visa, birthday)
            VALUES (%s, %s, %s, %s, %s, %s)
            """,
            (fake.last_name(), fake.first_name(), gender, passport_num, has_visa, birthday)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting passengers: {e}")
    conn.rollback()

print("passengers inserted")

passengers inserted

In [12]:
from psycopg2 import Error

try:
    for i in range(100):
        departure_airport = fake.city()
        arrival_airport = fake.city()
        stopover = fake.city()

        cursor.execute(
            """
            INSERT INTO "Routes"(departure_airport, arrival_airport, stopover_airport)
            VALUES (%s, %s, %s)
            """,
            (departure_airport, arrival_airport, stopover)
        )
        conn.commit()
except (Exception, Error) as e:
    print(f"Error inserting routes: {e}")
    conn.rollback()

print("routes inserted")

routes inserted

In [34]:
from psycopg2 import Error
from datetime import datetime, timedelta

for i in range(100):
    model = fake.random_element(["Boeing 737", "Airbus A320", "Boeing 747", "Airbus A380", "Boeing 777"])
    brigade_id = fake.random_element(ids[6])
    pilot_brigade_id = fake.random_element(ids[0])
    engineer_brigade_id = fake.random_element(ids[2])
    flights_count = fake.random_int(min=0, max=100)
    repair_count = fake.random_int(min=0, max=10)
    flights_count_after_repair = fake.random_int(min=0, max=10)
    status_id = fake.random_int(min=1, max=5)
    capacity = fake.random_int(min=100, max=500)
    today = datetime.today()
    ten_year_ago = today - timedelta(days=365*10)
    creation_date = fake.date_between(start_date=ten_year_ago, end_date=today)
    last_repair_date = fake.date_between(start_date=creation_date, end_date=today)

    try:
        cursor.execute(
            """
            INSERT INTO "Planes"(model, brigade_id, flights_count, repairs_count, last_checkup_date, flights_count_after_last_repair, status, capacity, creation_date, pilot_brigade_id, engineer_brigade_id)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """,
            (model, brigade_id, flights_count, repair_count, last_repair_date, flights_count_after_repair, status_id, capacity, creation_date, pilot_brigade_id, engineer_brigade_id)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting planes: {e}")
        conn.rollback()

print("planes inserted")

Error inserting planes: flights_count_after_last_repair (8), не может быть больше flights_count (7).
CONTEXT:  PL/pgSQL function check_flights_count() line 5 at RAISE

Error inserting planes: flights_count_after_last_repair (2), не может быть больше flights_count (1).
CONTEXT:  PL/pgSQL function check_flights_count() line 5 at RAISE

planes inserted

In [43]:
from psycopg2 import Error
from datetime import datetime, timedelta

for i in range(100):
    today = datetime.today()
    one_year_ago = today - timedelta(days=365)
    one_week_ago = today - timedelta(days=7)
    one_week_later = today + timedelta(days=7)
    one_month_later = today + timedelta(days=30)
    plane_id = fake.random_int(min=1, max=90)
    flight_type_id = fake.random_int(min=1, max=5)
    departure_date = fake.date_between(start_date=today, end_date=one_month_later)
    route_id = fake.random_int(min=1, max=100)
    ticket_price = fake.random_int(min=1000, max=10000)
    max_tickets = fake.random_int(min=50, max=500)
    min_tickets = fake.random_int(min=0, max=max_tickets)
    status_id = fake.random_int(min=1, max=4)
    departure_time = fake.time()
    arrival_time = fake.time()

    try:
        cursor.execute(
            """
            INSERT INTO "Flights"(plane_id, flight_type, departure_date, departure_time, arrival_time, route_id, ticket_price, max_tickets_count, min_tickets_count, status)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """,
            (plane_id, flight_type_id, departure_date, departure_time, arrival_time, route_id, ticket_price, max_tickets, min_tickets, status_id)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting flights: {e}")
        conn.rollback()

print("flights inserted")

Error inserting flights: insert or update on table "Flights" violates foreign key constraint "flights_plane_id_foreign"
DETAIL:  Key (plane_id)=(53) is not present in table "Planes".

Error inserting flights: insert or update on table "Flights" violates foreign key constraint "flights_plane_id_foreign"
DETAIL:  Key (plane_id)=(53) is not present in table "Planes".

flights inserted

In [45]:
from psycopg2 import Error
from datetime import datetime, timedelta

for i in range(100):
    flight_id = fake.random_int(min=301, max=400)
    passenger_id = fake.random_int(min=1, max=100)
    ticket_status_id = fake.random_int(min=1, max=5)
    luggage = fake.random_element([True, False])
    today = datetime.today()
    one_week_ago = today - timedelta(days=7)
    status_date = fake.date_between(start_date=one_week_ago, end_date=today)

    try:
        cursor.execute(
            """
            INSERT INTO "Tickets"(flight_id, passenger_id, status, status_date, luggage)
            VALUES (%s, %s, %s, %s, %s)
            """,
            (flight_id, passenger_id, ticket_status_id, status_date, luggage)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting tickets: {e}")
        conn.rollback()

print("tickets inserted")

Error inserting tickets: insert or update on table "Tickets" violates foreign key constraint "tickets_flight_id_foreign"
DETAIL:  Key (flight_id)=(340) is not present in table "Flights".

Error inserting tickets: insert or update on table "Tickets" violates foreign key constraint "tickets_flight_id_foreign"
DETAIL:  Key (flight_id)=(340) is not present in table "Flights".

Error inserting tickets: insert or update on table "Tickets" violates foreign key constraint "tickets_flight_id_foreign"
DETAIL:  Key (flight_id)=(348) is not present in table "Flights".

tickets inserted

In [46]:
from psycopg2 import Error

try: 
    cursor.execute(
        """
        SELECT e.id
        FROM "Employees" e
        WHERE position_id = %s
        """,
        (1, )
    )
    
    pilot_ids = cursor.fetchall()
except (Exception, Error) as e:
    print(f"Error fetching brigade IDs: {e}")
    conn.rollback()

print("pilot brigade IDs fetched")
print(pilot_ids)

pilot brigade IDs fetched
[(554,), (556,), (561,), (565,), (569,), (570,), (571,), (572,), (573,), (574,), (575,), (576,), (577,), (578,), (579,), (580,), (581,), (582,), (583,), (584,)]

In [47]:
from psycopg2 import Error
from datetime import datetime, timedelta

for i in range(100):
    today = datetime.today()
    twelve_years_ago = today - timedelta(days=365 * 12)
    employee_id = fake.random_element(pilot_ids)
    medical_check_date = fake.date_between(start_date=twelve_years_ago, end_date=today)

    try:
        cursor.execute(
            """
            INSERT INTO "Pilots_medical_check"(employee_id, medical_check_date)
            VALUES (%s, %s)
            """,
            (employee_id, medical_check_date)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting pilot medical checks: {e}")
        conn.rollback()

print("pilot medical checks inserted")

pilot medical checks inserted

In [48]:
from psycopg2 import Error

for i in range(100):
    place = fake.city()

    try:
        cursor.execute(
            """
            INSERT INTO "Plane_places"(plane_id, place)
            VALUES (%s, %s)
            """,
            (i, place)
        )
        conn.commit()
    except (Exception, Error) as e:
        print(f"Error inserting airports: {e}")
        conn.rollback()

print("airports inserted")

Error inserting airports: insert or update on table "Plane_places" violates foreign key constraint "plane_places_plane_id_foreign"
DETAIL:  Key (plane_id)=(0) is not present in table "Planes".

Error inserting airports: insert or update on table "Plane_places" violates foreign key constraint "plane_places_plane_id_foreign"
DETAIL:  Key (plane_id)=(53) is not present in table "Planes".

Error inserting airports: insert or update on table "Plane_places" violates foreign key constraint "plane_places_plane_id_foreign"
DETAIL:  Key (plane_id)=(85) is not present in table "Planes".

airports inserted